* {
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background:#0a0e1b;
}

.faktid {
	position: absolute;
	top: 39%;
	left: 30%;
	border: 3px solid white;
	padding: 25px;
	text-align: center;
	width: 700px;
	height: 300px;
}

.koju {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 3%;
    padding-top:2%;
    text-decoration: none;
    color: #0088a9;
    font-size: 1.5rem;
}

.koju:hover {
    color: #0088ff;
}

h1, p {
	color:white;
}

.button {
	margin-left: 0%;
	margin-right: 0%;
	height: 20%;
	width: 20%;
	position: static;
}

.button-ala {
	height: 85%;
	width: 40%;
	position: fixed;
	margin-left: 44%;
	padding-top: 600px;
}

h2 {
	color: white;
	width:25%;
	height: 0%;
	margin-left: 42%;
	padding-top: 49%;
	font-size: 14px;
	opacity: 0.07;
	position: absolute;
}

.gif {
	position: fixed;
	padding-top: 34%;
	margin-left: 41%;
	width: 250px;
}