body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /*background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));*/
    font-family: sans-serif;
    color: white;
    background-image: url(https://unsplash.it/id/123/2800/1400);      /* 3840/2169); */

    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Permanent Marker', cursive;
    color: black;
}

input{
    font-family: "Premanent Marker", cursive;
    font-weight: bold;
}

.koju{
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 3%;
    padding-top:2%;
    text-decoration: none;
    color: #0088a9;
    font-size: 1.5rem;
    transition: all 0.4 ease 0;
}

.koju:hover{
    color: #0088ff;
}


p{
    background-color: red;
}

#btn{
    visibility: hidden;
}


.location, .temperature{
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#cityId{
    font-size: 70px;
}



.temperature{
    flex-direction: column;
}

.degree-section{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.degree-section span{
    font-size: 50px;
    margin: 10px;
}

.degree-section h2{
    font-size: 70px; 
}

.temeprature-description{
    justify-content: center;
    font-size: 30px;

}